/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mar-2016, 18.47.57
    Author     : studente
*/

body
{
    background-color: #e2f2ec;
    font-family: Times, Arial, sans-serif;
    color: black;
}

h1
{
    font-weight: bold;
    color: #bd0010;
    text-align: center;
}

h2
{
    font-style: italic;
    color: #3b45b5;
    text-align: center;
}

h3
{
    font-style: oblique;
    color: #10750f;
    text-align: center;
}

a:link{
    color: blue;
    font-size: 15px;
}

a:visited{
    color: #5e0257;
    font-size: 15px;
}

a:hover{
    font-size: 17px;
    color: #174b1c;
    font-style: italic;  
}

a:active{
    font-weight: bolder;
}

form
{
    text-align: center;
    margin-right: 75%;
    background-color: #e8e3e8;
    border-style: solid;
    border-width: 2px;
    display: block;   
}

#Username
{
    display: block;
    width: 200px;
    margin-left: 10px;
}

#Password
{
    display: block;
    width: 200px;
    margin-left: 10px;

}

#pulsanti
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}

nav
{
    border-style: solid;
    border-color: yellowgreen;
    border-width: 3px;
    margin-bottom: 20px;
    background-color: #f5f7d7;
    padding: 8px;
    
}

nav a:link
{
    font-size: 18px;
    color: grey;
    border-style: solid;
    
    
}